@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    display: inline-block;
    background: rgb(51, 36, 255);
    color: #fff;
    border: none;
    padding: 5px 89px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}


